@media (max-width: 576px) {
  .menu-header .btn {
    display: block;
  }
  /* Menubar */
  
  .menu-header .header-nav .navi {
    display: none;
  }
  .menu-header .header-nav .search button{
    display: none;
  }

/* back-image content */

.content {
  width: 100%;
}

/* 2nd Section */

.best-info {
  display: flex;
  flex-direction: column;
}

.best-info .images {
  grid-template-columns: repeat(1,1fr);
}

.best-info .images img {
  height: 330px;
  width: 300px;

}

/* 3rd Product Section */
.product .product-info {
  grid-template-columns: repeat(1, 1fr);
}


/* Services Content */

.services {
  display: flex;
 flex-direction: column;
}
/* Services Types of Coffee */

.services .types {
  grid-template-columns: 1fr;
}
/* Portfolio 8 images section */

.portfolio .gallery-images {
 grid-template-columns: repeat(1, 1fr);
}

/* Blog Section */
.blog-images {
  grid-template-columns: 1fr;
  gap: 10px;
}

/* Footer Section */

.footer-text {
  grid-template-columns: 1fr;
}

}