@media (min-width: 768px) {
  .menu-header .back-image {
    height: 600px;
  }
  .menu-header .btn {
    display: block;
  }
  .menu-header .header-nav .navi {
    display: none;
  } 

  /* back-image content */

    .content {
      position: absolute;
      top: 150px;
    }

    /* 2nd Section */

    .best-info {
      display: flex;
      flex-direction: column;
    }
    .best-info .infor {
      flex: 1;
    }
    .best-info .images {
      flex: 1;      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    .best-info .images img {
      height: 300px;
      width: 250px;
    }

  /* Services Content */

  .services {
    display: flex;
    flex-direction: column;
  }

  /* Services Types of Coffee */

  .services .types {
    grid-template-columns: 1fr;
  }

  /* Portfolio 8 images section */

    .gallery {
      width: 100%;
    }
    .gallery .gallery_images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .gallery .gallery_images img {
      height: 120px;
      width: 200px;
    }

  /* Footer Section */

    .footer-text {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
    }
  }